<table class="table table-hover">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Code</th>
			<th>Description</th>
			<th>Github Url</th>
			<th>Billing Type</th>
			<th>Start-Date</th>
			<th>Deadline-Date</th>
			<th>End-Date</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<% @project.each do |p| %>
				<td><%= p.id %></td>
				<td><%= p.name %></td>
				<td><%= p.code %></td>
				<td><%= p.description %></td>
				<td><%= p.github_url %></td>
				<td><%= p.billing_type %></td>
				<td><%= p.start %></td>
				<td><%= p.deadline %></td>
				<td><%= p.end %></td>
				<td><%= p.status %></td>
				<td><%= link_to 'Edit', edit_project_path(p), class: "btn btn-success btn-large" %></td>
				<td><%= link_to 'Delete', project_path(p), class: "btn btn-danger btn-large", confirm: "Are you sure you want to delete Project.", method: 'delete' %></td>
			<% end -%>
		</tr>
	</tbody>
</table>